*{

}


/* #name , #sname , #email{
    border: 2px solid red;
    margin-bottom: 20px;
    
} */
 .abc div input{ 
    margin-top: 30px;
       }
    

/* .abc label{
    margin-top: 30px;
    margin-bottom: 50px;
    border: 2px solid red;
} */